$primary: #1ec9ac !default;

// Responsiveness
// 960, 1152, and 1344 have been chosen becauwe they are divisible
// by both 12 and 16
$tablet: 769px !default;
// 960px container + 40px
$desktop: 1000px !default;
// 1152px container + 40px
$widescreen: 1192px !default;
//1344px container + 40px
$fullhd: 1384px !default;
